@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>  
</div>

    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <label>Division</label>
                <select id="dvlst" class="form-control">
                    <option value="0">select Division</option>
                    @foreach(var dv in ViewBag.divlist)
                    {
                        <option value="@dv.Id">@dv.Name </option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label>District</label>
                <select id="dslst" class="form-control">
                    <option value="0">Select District</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Upazila</label>
                <select id="uplst" class="form-control">
                    <option value="0">Select Upazila</option>
                </select>
            </div>
        </div>
    </div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
           
            $('#dvlst').change(function () {
                let divvid = $("#dvlst option:selected").val();
                console.log(divvid)
                $.ajax({
                    url: '/Home/getDistricts',
                    type: 'GET',
                    cache: false,
                    dataType: 'JSON',
                    data: { id: divvid },
                    success: function (mdata) {
                        if (mdata.flag == "1") {
                            $('#dslist').empty(); /*here load empty to process new data*/
                            $.each(mdata.data, function (i, obj) {
                                let s = '<option value="' + obj.id + '">' + obj.name + '</option>';   /*object ar value nelam table ar properties ar nam ar mil rekhe*/
                                $('#dslist').append(s);
                            });
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }

                });
            });
 
    </script>
}

